@import 'variables';
@import 'common';

.Layout {
    .VPNavBar {
        position: relative;
        border-bottom: 1px solid transparent;
        padding: 0 8px 0 24px;
        height: var(--vp-nav-height);
        transition: border-color 0.5s, background-color 0.5s;
        pointer-events: none;
    }

    .VPNavBar.has-sidebar {
        border-bottom-color: var(--vp-c-gutter);
    }

    .VPContent.is-home {
        min-height: 100vh;
    }

    @media (min-width: 768px) {
        .VPNavBar {
            padding: 0 32px;
        }
    }

    @media (min-width: 960px) {
        .VPNavBar.has-sidebar {
            border-bottom-color: transparent;
            padding: 0;
        }

        .fill-bg .VPNavBar:not(.has-sidebar) {
            border-bottom-color: var(--vp-c-gutter);
            background-color: var(--vp-nav-bg-color);
        }
    }
}

.VPHome {
    .VPHero.has-image .text {
        margin: 14px 0;
    }
}

/*mobile*/
@media screen and (max-width: 768px) {
    .VPDoc {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }
    .vp-doc h1 {
        font-size: 1.25rem !important;
    }
    .posts {
        padding: 4px;
    }
    .article-dot {
        margin-right: 4px;
    }
    .article-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 16.5em;
    }
}

// 首页 loading · start
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #161b29;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.loading-container .container {
    position: fixed;
    width: 40vw;
    height: 45vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 666;
}

.loading-container .common {
    height: 5vw;
    max-height: 100%;
    overflow: auto;
    width: 2vw;
    margin: auto;
    max-width: 100%;
    position: absolute;
    border-radius: 0 10vw 0 10vw;
    box-shadow: inset 0 0 0 0.1vw #e645d0, 0 0 1.5vw 0 #e645d0;
}

.loading-container .one {
    transform: rotate(45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 7.5vw;
}

.loading-container .two {
    transform: rotate(90deg);
    left: 5.5vw;
    right: 0;
    top: 0;
    bottom: 5.5vw;
}

.loading-container .three {
    transform: rotate(135deg);
    left: 7.5vw;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading-container .four {
    transform: rotate(180deg);
    left: 5.5vw;
    right: 0;
    top: 5.5vw;
    bottom: 0;
}

.loading-container .five {
    transform: rotate(225deg);
    left: 0;
    right: 0;
    top: 7.5vw;
    bottom: 0;
}

.loading-container .six {
    transform: rotate(270deg);
    left: 0;
    right: 5.5vw;
    top: 5.5vw;
    bottom: 0;
}

.loading-container .seven {
    transform: rotate(315deg);
    left: 0;
    right: 7.5vw;
    top: 0;
    bottom: 0;
}

.loading-container .eight {
    transform: rotate(360deg);
    left: 0;
    right: 5.5vw;
    top: 0;
    bottom: 5.5vw;
}

.loading-container .bar {
    width: 12vw;
    height: 0.25vw;
    left: 0;
    right: 0;
    top: 16vw;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    background: #e645d0;
}

.loading-container .one {
    animation: one 1s ease infinite;
    -moz-animation: one 1s ease infinite;
    /* Firefox */
    -webkit-animation: one 1s ease infinite;
    /* Safari and Chrome */
    -o-animation: one 1s ease infinite;
    /* Opera */
}

@keyframes one {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .two {
    animation: two 1s 0.125s ease infinite;
    -moz-animation: two 1s 0.125s ease infinite;
    /* Firefox */
    -webkit-animation: two 1s 0.125s ease infinite;
    /* Safari and Chrome */
    -o-animation: two 1s 0.125s ease infinite;
    /* Opera */
}

@keyframes two {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .three {
    animation: three 1s 0.25s ease infinite;
    -moz-animation: three 1s 0.25s ease infinite;
    /* Firefox */
    -webkit-animation: three 1s 0.25s ease infinite;
    /* Safari and Chrome */
    -o-animation: three 1s 0.25s ease infinite;
    /* Opera */
}

@keyframes three {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .four {
    animation: four 1s 0.375s ease infinite;
    -moz-animation: four 1s 0.375s ease infinite;
    /* Firefox */
    -webkit-animation: four 1s 0.375s ease infinite;
    /* Safari and Chrome */
    -o-animation: four 1s 0.375s ease infinite;
    /* Opera */
}

@keyframes four {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .five {
    animation: five 1s 0.5s ease infinite;
    -moz-animation: five 1s 0.5s ease infinite;
    /* Firefox */
    -webkit-animation: five 1s 0.5s ease infinite;
    /* Safari and Chrome */
    -o-animation: five 1s 0.5s ease infinite;
    /* Opera */
}

@keyframes five {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .six {
    animation: six 1s 0.625s ease infinite;
    -moz-animation: six 1s 0.625s ease infinite;
    /* Firefox */
    -webkit-animation: six 1s 0.625s ease infinite;
    /* Safari and Chrome */
    -o-animation: six 1s 0.625s ease infinite;
    /* Opera */
}

@keyframes six {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .seven {
    animation: seven 1s 0.75s ease infinite;
    -moz-animation: seven 1s 0.75s ease infinite;
    /* Firefox */
    -webkit-animation: seven 1s 0.75s ease infinite;
    /* Safari and Chrome */
    -o-animation: seven 1s 0.75s ease infinite;
    /* Opera */
}

@keyframes seven {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .eight {
    animation: eight 1s 0.875s ease infinite;
    -moz-animation: eight 1s 0.875s ease infinite;
    /* Firefox */
    -webkit-animation: eight 1s 0.875s ease infinite;
    /* Safari and Chrome */
    -o-animation: eight 1s 0.875s ease infinite;
    /* Opera */
}

@keyframes eight {
    0%,
    100% {
    }
    50% {
        box-shadow: inset 0 0 0 0.1vw #17e1e6, 0 0 1.5vw 0 #17e1e6;
    }
}

.loading-container .container {
    animation: container 5s linear infinite;
    -moz-animation: container 5s linear infinite;
    /* Firefox */
    -webkit-animation: container 5s linear infinite;
    /* Safari and Chrome */
    -o-animation: container 5s linear infinite;
    /* Opera */
}

@keyframes container {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.loading-container .fade-in {
    animation: fade-in 2s ease;
    -moz-animation: fade-in 2s ease;
    /* Firefox */
    -webkit-animation: fade-in 2s ease;
    /* Safari and Chrome */
    -o-animation: fade-in 2s ease;
    /* Opera */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loading-container .out {
    animation: out 2s 15s ease;
    -moz-animation: out 2s 15s ease;
    /* Firefox */
    -webkit-animation: out 2s 15s ease;
    /* Safari and Chrome */
    -o-animation: out 2s 15s ease;
    /* Opera */
}

@keyframes out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
// 首页 loading · end
